<main class="background-home">
    <section class="homecontainer">
    <h1>ControlStore</h1>
<h2>Somos tu consola, tu juego, tu tienda.</h2>
<div class="button-home">
<button><a href="/login">Iniciar sesion</a></button>
<button><a href="/products">Ir a la tienda</a></button>
</div>
    </section>

</main>

<script src="/js/home.js"></script>
