<h2 class="title">Finalizar compra</h2>

<div class="ticket" id="ticket"></div>

<div class="buyInformation">
    <input
    class="btnComprar"
    type="submit"
    value="Finalizar compra"
    id="finish"
  />
</div>
<p class="text m-3">¡Muchas gracias por su compra!</p>

<script src="js/purchase.js"></script>