<section class="containerAddingProduct">
  <h1>Crear producto</h1>

  <form action="./api/products" method="POST" id="addProductForm" class="addProductForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" placeholder="Black Clover Quarter Knights" required>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" placeholder="Black Clover Juego PS4..." required>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" placeholder="19499"  required>

    <label for="imageURL">URL de la Imagen:</label>
    <input type="url" id="imageURL" name="imageURL" placeholder="https://http2.mlstatic.com/D_Q_NP_694814-MLA49283118478_032022-O.webp" required>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code" placeholder="ABC123..." required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" placeholder="10" required>

    <button type="submit">Crear Producto</button>
  </form>
</section>

<div class="container" id="container"></div>



{{!-- 
<section class="containerDeletingProduct">
  <h2>Borrar Producto</h2>

  <form action="api/products" method="DELETE" id="addProductForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" rows="4" required></textarea>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" step="0.01" required>

    <label for="imageURL">URL de la Imagen:</label>
    <input type="url" id="imageURL" name="imageURL" required>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>

    <button type="submit">Agregar Producto</button>
  </form>
</section> --}}




<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>